<div class=" header h-80 bg-teal-50	">
    <div class="w-2/4 h-full  float-left">
      <img src="assets/images/cardhaven.png" alt="Card Haven" class="m-auto h-80 w-80" />
    </div>

    <div class="w-2/4 h-full  float-right">
      <h1 class="text-3xl font-bold uppercase text-center mt-14">
        Card Haven
      </h1>
      <p class="text-2xl text-center mt-10">
        Gift Happiness, One Card at a Time.
      </p>
    </div>
  </div>
  <div class="about h-80 bg-white flex flex-col justify-center items-center">
    <p class="text-2xl text-center">
      Welcome to <span class="uppercase font-bold">CARD HAVEN</span>, your ultimate destination for gift cards!
    </p>
    <p class="text-2xl text-center">
      Whether you're celebrating a birthday, anniversary, holiday, or just want to show someone you care.
    </p>
    <p class="text-2xl text-center">
      We have the perfect gift card for every occasion.
    </p>
  </div>
  <div class="products h-[27rem] bg-teal-50 cursor-pointer" routerLink="cards">
    <h1 class="text-3xl font-bold text-center">
      Our Cards
    </h1>
    <div class="flex flex-row justify-center items-center">
      <div class="w-1/4 h-80 m-4">
        <img src="assets/images/amazon.png" alt="Birthday Card" class="m-auto h-80 " />

      </div>
      <div class="w-1/4 h-80  m-4">
        <img src="assets/images/google.png" alt="Anniversary Card" class="m-auto h-80 " />
        
      </div>
      <div class="w-1/4 h-80  m-4">
        <img src="assets/images/apple.png" alt="Holiday Card" class="m-auto h-80 " />
      </div>
    </div>
  </div>
