<div class="container mx-auto bg-teal-50">
  <div class="navigation h-12 bg-gray-50 dark:bg-gray-700">
    <div class="logo bg-teal-50 float-left">logo</div>
    <nav class="bg-gray-50 dark:bg-gray-700 float-right">
      <div class="max-w-screen-xl px-4 py-3 mx-auto">
          <div class="flex items-center">
              <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                  <li>
                      <a routerLink="/" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                  </li>
                  <li>
                      <a routerLink="cards" class="text-gray-900 dark:text-white hover:underline">Cards</a>
                  </li>
                  <li>
                      <a routerLink="contact" class="text-gray-900 dark:text-white hover:underline">Contact</a>
                  </li>
                  <li>
                      <a routerLink="basket" class="text-gray-900 dark:text-white hover:underline">Panel {{nbbasketitems}}</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  </div>
  <router-outlet />
  <div class="footer h-40 bg-white w-full	">
    <h1 class="text-3xl font-bold underline">
      footer
    </h1>
  </div>
</div>



